/* // @primary-color: #ce182e;
// @dark-footer-background: #312826;
// @light-footer-background: #3e3434; */
button {
  font-size: 0.45rem;
}
.bot-free {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.d-flex {
  display: flex;
  margin: auto;
  /* justify-content: space-around; */
  /* align-items: center; */
}
.center {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}
.justify-around {
  justify-content: space-around;
}
.popupMenu {
  color: white;
  background-color: transparent;
  font-size: 30px;
}
.nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav ul > ol {
  margin: 40px 0;
}

.nav > ul > li {
  float: left;
  border-right: 1px solid #bbb;
}

.nav > ul > li:last-child {
  border-right: none;
  display: flex;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu menu main main main'
    'menu menu menu footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.circle_img {
  height: 80px;
  width: 80px;
  border: transparent solid 0px;
  border-radius: 50% 50%;
  align-items: center;
  display: flex;
}
.btn-grey {
  background: rgb(202, 202, 202);
  color: white;
  border-radius: 20px;
  border-color: white;
  width: 85%;
  margin: 30px 0px;
}
.btn-red {
  background: #ce182e;
  color: white;
  border-radius: 20px;
  border-color: white;
  /* width: 75%; */
  padding: 7px 40px;
  margin: 3px 0px;
}
.btn-#ce182e {
  background-color: #ce182e;
  color: white;
  border-radius: 20px;
  border-color: white;
  width: 85%;
  margin: 30px 0px;
}
.downloadClick {
  background-color: #ce182e;
  color: white;
  border-radius: 20px;
  border-color: white;
  width: 85%;
}
.gridImages:first-child {
  flex-basis: 100% !important;
}
.gridImages:nth-child(2) {
  flex-basis: 50% !important;
  padding-right: 10px;
  height: 50px;
  margin-top: 10px;
}
.gridImages {
  gap: 20px;
}
.btn_position {
  z-index: 999;
  color: white;
  background-color: #ce182e;
  border-radius: 20px;
  font-size: 30px;
  padding: 25px 20px;
}
/* .title {
  margin: 3vh;
} */
.my-swipe .van-swipe-item {
  color: #fff;
  font-size: 20px;
  text-align: center;
  width: 750rpx;
  height: 251rpx;
  display: block;
  position: relative;
}
h3 {
  margin: 40px 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}

.slider-item {
  display: block;
}
.slider-item p {
  margin: 0%;
}
.slider-item {
  transition-timing-function: ease;
  transition-duration: 300ms;
}
.slider-item.slider-active {
  transform: scale(1);
  z-index: 999;
}
.slider-item.slider-active-copy {
  transform: scale(1);
  z-index: 999;
}
.van-dropdown-menu__title {
  padding: 0;
}
/* 重复 */
.van-dropdown-menu__title::after {
  position: relative;
  font-size: 0.3rem;
  margin-top: 0;
  top: unset;
  right: unset;
  -webkit-transorm: unset;
  transform: unset;
  opacity: 1;
  content: '三';
  border: 0;
  font-weight: 900;
}

/* 重复 */
.van-dropdown-menu__title::after {
  position: relative;
  font-size: 0.3rem;
  margin-top: 0;
  top: unset;
  right: unset;
  -webkit-transorm: unset;
  transform: unset;
  opacity: 1;
  content: '三';
  color: white;
  border: 0;
  font-weight: 900;
}
.van-dropdown-menu__bar {
  background-color: transparent;
  border: 1px solid white;
  width: 0.7rem;
  height: 0.6rem;
  margin-left: 0.3rem;
}
#general .van-dropdown-menu__bar {
  background-color: transparent;
  border: unset;
  width: 0.7rem;
  height: 0.6rem;
  margin-left: 0.3rem;
}
#general .van-dropdown-menu__title::after {
  position: relative;
  font-size: 0.3rem;
  margin-top: 0;
  top: unset;
  right: unset;
  -webkit-transorm: unset;
  transform: unset;
  opacity: 1;
  content: '三';
  color: black;
  border: 0;
  font-weight: 900;
}
/* 重复结束 */
.mx-ht {
  max-height: 50px;
  overflow: hidden;
  max-width: 90%;
}
.mx-ht100 {
  max-height: 120px;
  overflow: hidden;
  max-width: 90%;
}
.p-3 {
  padding: 20px 0;
}
.flex-v {
  flex-direction: column;
}
.container {
  width: 85%;
  padding: 20px 0;
  margin: auto;
}
/* .position-bottom {
  position: absolute;
  bottom: 0%;
  width: 100%;
} */
.goDownload {
  white-space: nowrap;
  padding: 5px 10px;
  background: linear-gradient(0deg, rgba(255, 216, 86, 1) 0%, rgba(255, 235, 142, 1) 100%);
  border: 0px;
  white-space: nowrap;
  border-radius: 5px;
  color: black;
}
.van-swipe__indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%) scale(3.5);
}
.GameNavHeight {
  height: 1.6rem;
}
.van-popup__close-icon {
  position: absolute;
  z-index: 1;
  color: #7b160b;
  font-size: 40px;
  cursor: pointer;
  font-weight: 900;
}
.van-dropdown-item__option {
  text-align: center;
  font-size: 0.4rem;
  line-height: 1.2rem;
}
.van-cell__value {
  display: none;
}
.van-dropdown-item {
  top: 1.6rem !important;
}
.swiper-container-horizontal > .slider-pagination-bullets {
  display: none;
}
.van-popup__close-icon--top-right {
  top: 0px;
}
.slider-item {
  display: flex;
}
.van-list__finished-text {
  font-size: 1em;
}
.align-center {
  align-items: center;
  align-content: center;
}
.w-100 {
  width: 100%;
}
